<div class="dlb-header">
  <div class="dlb-header__component">
    <h3 class="dlb-header__title" (click)="navigateToHome()">
      DI Blog
    </h3>
    <div class="dlb-header__search-component">
      <mat-icon class="dlb-header__search-icon" fontIcon="search"></mat-icon>
      <input class="dlb-header__search-input" matInput placeholder="Search">
    </div>
  </div>
  <div class="dlb-header__component">
    <div class="dlb-header__new-post"  (click)="navigateNewPost()">
      <mat-icon class="dlb-header__new-post__icon">note_add</mat-icon>
      <span class="dlb-header__new-post__text">Write</span>
    </div>
  </div>
</div>
